<div class="form-horizontal">
  ...
  <div class="input-group">
    <input type="password" class="form-control" name="Password" placeholder="Contraseña">
    <span class="input-group-btn">
       <button id="verPassword" class="btn btn-default" type="button">
          <i class="glyphicon glyphicon-eye-open"></i>
       </button>
    </span>
  </div>
  ...
</div>